---
import Prose from "@/components/layout/Prose.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { ChevronRight } from "lucide-react";

const projects = await getCollection("projects");
---

<Layout title="Drew Beamer">
  <Prose>
    <section class="flex flex-col gap-y-4">
      <h1
        class="text-4xl font-normal border-b-2 border-b-muted w-fit pb-2 mb-0"
      >
        Drew Beamer
      </h1>
      <p class="text-lg text-muted-foreground mt-0">
        Software engineer. Building the future of health at RVO Health.
      </p>
    </section>

    <section>
      <h2 id="bio" class="text-2xl">Bio</h2>
      <p>
        I'm a software engineer with a passion for building digital experiences
        that are both functional and beautiful.
      </p>
      <h3 id="hobbies">Things I enjoy</h3>
      <ul>
        <li>
          <a target="_blank" href="https://www.instagram.com/crazed4birds/"
            >Birding/nature photography</a
          > and the outdoors
        </li>
        <li>
          Mentoring and teaching
          <a target="_blank" href="https://www.yetirobotics.org/"
            >YETI Robotics</a
          >, a FIRST® Robotics Competition team
        </li>
      </ul>
    </section>

    <section>
      <h2 id="projects" class="text-2xl">Side quests</h2>
      <div class="not-prose max-w-prose">
        {
          projects.map((project) => (
            <a
              class="flex items-center justify-start no-underline gap-x-4 group"
              href={`/projects/${project.id}`}
            >
              <div class="size-14 shrink-0">
                <Image
                  src={project.data.image}
                  alt={project.data.title}
                  width={56}
                  height={56}
                  class="rounded-md object-cover my-0"
                />
              </div>
              <div class="flex flex-col gap-1 grow">
                <span class="text-lg font-mono group-hover:underline">
                  {project.data.title}
                </span>
                <span class="text-sm text-muted-foreground overflow-ellipsis line-clamp-1">
                  {project.data.description}
                </span>
              </div>
              <ChevronRight className="size-8 text-muted-foreground shrink-0" />
            </a>
          ))
        }
      </div>
    </section>
  </Prose>
</Layout>
